body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.naaskinn-slider .slick-dots {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex !important;
  justify-content: center;
  list-style: none;
  z-index: 5;
}

.naaskinn-slider .slick-dots li {
  margin: 0 4px;
  padding: 0;
  width: auto;
  height: auto;
}

.naaskinn-slider .slick-dots li button {
  padding: 0;
  display: block;
}

.naaskinn-slider .slick-dots li button:before {
  content: none;
}

.naaskinn-slider .slick-dots li .slick-dot-inactive {
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.naaskinn-slider .slick-dots li.slick-active .slick-dot-inactive {
  background-color: white;
}

.naaskinn-slider .slick-dots li button:hover .slick-dot-inactive {
  background-color: rgba(255, 255, 255, 0.8);
}

.naaskinn-slider,
.naaskinn-slider .slick-list,
.naaskinn-slider .slick-track,
.naaskinn-slider .slick-slide,
.naaskinn-slider .slick-slide > div {
  height: 100%; /* Force height inheritance */
}
